[project]
	description = Project for testing Code Review Hub
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/poctestuser
[access "refs/for/refs/*"]
	read = group user/poctestuser
	push = group user/poctestuser
	label-Code-Review = -2..+2 group user/poctestuser
	label-Verified = -1..+1 group user/poctestuser
	rebase = group user/poctestuser
	removeReviewer = group user/poctestuser
	submit = group user/poctestuser
[access "refs/heads/*"]
	read = group user/poctestuser
	create = group user/poctestuser
	push = +force group user/poctestuser
	pushMerge = group user/poctestuser
[access "refs/tags/*"]
	push = +force group user/poctestuser
	pushTag = group user/poctestuser
	pushSignedTag = group user/poctestuser
